.destinations {
  align-items: center;
  margin: 88px auto;
  width: 327px;
}

.image-destination {
  margin: 0;
}

.destination-desktop {
  display: none;
}

.section-title {
  margin: 0 auto;
  width: 100%;
}

.title-destinations {
  margin-top: 24px;
  font-size: 24px;
  font-weight: var(--titles-weight);
}

.div-destination {
  margin-top: 24px ;
  text-align: center;
}

.destinatio-description {
  font-weight: var(--texte-weight);
  margin-top: 24px;
  font-size: 20px;
  line-height: 1.5;
  
}

.destinations .button {
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .destination-desktop {
    display: block;
  }

  .destination-mobile {
    display: none;
  }

  .destinations {
    width: 768px;
    padding: 0;
    margin: 88px auto 0;
  }

  .div-destination {
    padding: 0 60px;
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .section-title {
    font-size: 32px;
  }

  .destinations {
    width: 100%;
    margin: 88px 0;
    align-items: center;
  }
  .flex-destination {
    display: flex;
    gap: 24px;
    padding: 0 120px;
  }
  .div-destination {
    padding: 0;
  }
}
