@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  /* VARIAVEIS */
  --background-primary-color: #fff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;
  --header-background: #000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  /* PESO DE FONTES */
  --titles-weight: 700;
  --texte-weight: 400;
  --menu-text-weight: 500;

  /* menu: 500;
    footer: 400;
    cards: 400 e 700; */
}

[data-theme="dark"] {
  --header-background: #ff0000;
}

/* RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button,
header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", "sans-serif";
  color: var(--text-primary-color);
}

.section-title h2{
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 0;
  text-align: center;
}

.section-title hr{
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

.button{
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--titles-weight);
  font-size: 20px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  text-decoration: none;
  display: block;
  line-height: 64px;
}

@media screen and (min-width:768) {
  .section-title h2{
  font-size: 32px;}
}

@media screen and (min-width: 1024px) {
  .button:hover{
    background-color: var(--primary-color);
  }
}