header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 38px 48px;
}

.logo{
  width: 68px;
  height: 64px;
  display: inline-block;
  align-items: start;
}

.navigation-menu{
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav{
   display: none;
}
