header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 38px 48px;
  position: relative;
}

.logo{
  width: 68px;
  height: 64px;
  display: inline-block;
  align-items: start;
}

.navigation-menu{
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav{
   display: none;
   position: absolute
}

.list-links{
  list-style: none;
}

.list-links li {
  margin: 16px 0; 
}

.list-links li, a {
   color: var(--background-secondary-color);
   text-decoration: none;
}
