.testimony {
  padding: 0 24px;
  max-width: 375px;
  margin: 88px auto 0;
  align-items: start;
}

.testimony-texto {
  line-height: 1.6;
}

.testimony-foto {
  max-width: 312px;
  margin: 8px 0 32px;
}

@media screen and (min-width: 768px) {
  .testimony {
    max-width: 768px;
    padding: 0 60px;
  }
}

@media screen and (min-width: 1440px) {
  .testimony {
    max-width: 1440px; 
  }

  .testimony-all {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
  }
}
